QPushButton#btLogin {
	border-image: url(:/resources/Button_normal.png) 0 0 0 0 stretch stretch;
	color: white;
}
QPushButton#btLogin:hover {
	border-image: url(:/resources/Button_hover.png) 0 0 0 0 stretch stretch;
}
QPushButton {
	border-image: url(:/resources/Button_common.png) 0 0 0 0 stretch stretch;
	color: #b4b4b4;
}
QPushButton:hover {
	border-image: url(:/resources/Button_common_hover.png) 0 0 0 0 stretch stretch;
}
QPushButton:pressed {
	border-image: url(:/resources/Button_common_pressed.png) 0 0 0 0 stretch stretch;
}
QPushButton:disabled {
	border-image: url(:resources/Button_common_disabled.png) 0 0 0 0 stretch stretch;
}
QMainWindow, QDialog {
	background-color: black;
}
QTreeView {
	background-color: #505050;
	color: #b4b4b4;
}
QLabel#btPrivateClubs, QLabel#btPublicGames {
	color: #f15a21;
} 
QLabel {
	color: #b4b4b4;
}
