body {
	background: #000;
	color: #959595;
	font-family: 'Sintony', 'sans-serif';
}

.header {
	background: url(../img/header_bg.png) center top no-repeat ;
}

.home_wrap .panel {
	border:none;
	height: 372px;
	background: none;
	padding: 0;
	position: relative;
}

.logo a {
	background: url(../img/logo.png) 0 bottom no-repeat;
	display: block;
	width: 265px;
	height: 110px;
	margin-left: 16%;
	margin-bottom: 14px;
}

.img_holder {
	background: url(../img/main_img.jpg) center top no-repeat;
	background-size: 100%;
	height: 343px;
	border-top: 1px solid #4e4e4e;
}

.sep {
	border-bottom: 1px solid #4e4e4e;
	height: 1px;
	width: 100%;
	background: #4e4e4e;
}

.info {
	 float: right;
	 margin-right: 30px;
	 margin-bottom: 40px;
}

.info h1 {
    color: #F04E23;
    font: 700 24px/32px 'Sintony','sans-serif';
    text-align: center;
    text-transform: uppercase;
    margin: 10% 2% 0 0 ;
}

.info h1 span {
	color: #00aeef;
}


.info ul {
    color: #959595;
    font: 400 12px/19px 'Sintony','sans-serif';
    list-style: none outside none;
    margin-left: 70px;
    margin-top: 5px;
    text-align: left;
    text-transform: uppercase;

}

.info ul li {
    background: url("../img/list_arrow.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
    padding-left: 18px;
}

.info .free_download {
	margin-left: 70px;
}

.goUp {
	height: 350px;
    margin-top: -350px !important;
}

.steps {
	margin-top: 30%;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
	margin-left: 10%;
}

.steps li {
	font-weight: 700;
	list-style: none;
	background: url(../img/steps_bg.jpg) 0 0 no-repeat;
	width: 200px;
	height: 45px;
	line-height: 45px;
	margin-top: 5px;
}

.steps li span {
	padding: 0 28px;
	margin-right: 8px;
	font-size: 18px;
	color: #00aeef;
}

#the_video {
	 text-align: center;
	 margin-top: -120px;
}

.video_play {
	background: url(../img/play_lg.png);
	height: 100px;
	width:100px;
	margin: 0px auto;
	cursor: pointer;
}

.video_play:hover {
	background: url(../img/play_lg.png) center -100px no-repeat;
	
}

.video_wrap {
    background: url("../img/video_bg.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
    min-height: 360px;
    padding-top: 11%;
    margin-bottom: 30px;

}

h2.wtch {
    color: #04A9EF;
    font: 700 14px/30px 'Sintony','sans-serif';
    margin-bottom: 0;
    text-align: center;;
}

.gray_line {
	background: #5d5d5d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkNWQ1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYjBiMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #5d5d5d 0%, #0b0b0b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d5d5d), color-stop(100%,#0b0b0b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5d5d5d 0%,#0b0b0b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5d5d5d 0%,#0b0b0b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5d5d5d 0%,#0b0b0b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5d5d5d 0%,#0b0b0b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d5d5d', endColorstr='#0b0b0b',GradientType=0 ); /* IE6-8 */
	height: 8px;
	margin-top: 11px;

}

/* MENU */

.top-bar {
	background: none;
	margin: 90px 45px 0 0;
	height: 30px;
	float: right;
}

.top-bar-section ul {
	background: none;
}

.top-bar-section ul li a {
	background: none !important;
	font-family: 'Sintony', 'sans-serif';
	line-height: 30px !important;
	text-transform: uppercase;
	color: #959595;
	font-weight: 700;
}

.inner {
	padding-top: 65px;
	border-top: 1px solid #4E4E4E;
}

h1.side_title {
	margin-left: 47px; 
	font: 700 14px/24px 'Sintony', 'sans-serif';
	text-transform: uppercase;


}

#contact_form  {
	padding: 0 20px 0 0;
	font-size: 12px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	font-size: 12px;
}

#contact_form .button {
	width: 100%;
	background: background: #363c3c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2M2MzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzFhMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #363c3c 0%, #171a17 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363c3c), color-stop(100%,#171a17)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #363c3c 0%,#171a17 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #363c3c 0%,#171a17 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #363c3c 0%,#171a17 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #363c3c 0%,#171a17 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363c3c', endColorstr='#171a17',GradientType=0 ); /* IE6-8 */
	color: #00aeef;
	text-transform: uppercase;
	padding: 0.8em 2rem 0.8rem;
	font-size: 14px;
	font-weight: 700;
	/*border: 1px solid #5a5f62;/*/
}

#contact_form .button:hover {
	background: #3F3F3F;
	text-decoration: underline;
}


#contact_form input, textarea, select {
	background-color: #262626;
	border: none;
	
}

#contact_form input {
	color: #777777;
	margin-bottom: 8px;
}

#contact_form textarea {
	color: #777777;
	margin-bottom: 8px;
}

#contact_form select {
	margin-bottom: 8px;
	color: #f7941d;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
    text-overflow: '';
	background: #262626 url(../img/select_arrow.png) center right no-repeat;

	 
}	

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	background-color: #262626;
}

select:hover {
	background-color: #3F3F3F;
}

select option {
	border: none;
	padding: 8px 0;
	padding-right: 10px;
}

footer {
	background: url(../img/header_bg.png) center top no-repeat ;
	height: 120px;
}




/* MEDIA QUERY */

@media all and (max-width: 1024px) {

	.top-bar { 
		margin-top: 8px;
		margin-bottom: 8px;
		float: left;
	}
	.logo {
		text-align: center;

	}
	.logo a {
		margin: 0 auto 14px auto;
	}
	.info h1 {
		 font: 700 18px/22px 'Sintony','sans-serif';
		 
	}

	.info ul {
	    font: 400 11px/17px 'Sintony','sans-serif';
	}
	.goUp {
		height: auto;
	    margin-top: 10px;
	}

	h1.side_title {
		margin-left: 0;
	}
	 .inner {
	 	padding-top: 20px;
	 }
}

@media all and (max-width: 820px) {
	.steps {
		margin-top: 300px;
	}

	.info {
		margin-top: 300px;
	}
	.info h1 {
		margin-top: 0;
	}
	.video_wrap {
		padding-top: 14%;
	}
}

@media all and (max-width: 640px) {

	.video_wrap {
		background-size: 100%;
	}
	.steps {
		margin: 44% 0 20px ;
	}

	.info ul {
		margin-left: 0px;
	}

	.info .free_download {
		margin-left: 0px;
	}
	.video_wrap {
			padding-top: 12%;
		}

	.info {
		margin-top: 20px;
		float: none;
	}
	.info h1 {
		text-align: left;
	}
}




@media all and (max-width: 640px) {

	.top-bar { 
		height: 50px;
	}
}