CashierNormal RCDATA "resources\\cashier\\Normal.png"
CashierPressed RCDATA "resources\\cashier\\Pressed.png"
RetrievingAvatar RCDATA "resources\\avatar\\RetrievingAvatar.jpg"
DevServerCertificate RCDATA "resources\\ssl_certs\\DevServerCertificate.pem"
OfficialServerCertificate RCDATA "resources\\ssl_certs\\OfficialServerCertificate.pem"
AboutBackground RCDATA "resources\\about_form\\About.png"
SubClass1ServerCertificate RCDATA "resources\\ssl_certs\\sub.class1.server.ca.pem"
