CashierNormal RCDATA "resources\\cashier\\Normal.png"
CashierPressed RCDATA "resources\\cashier\\Pressed.png"
TableBackground RCDATA "resources\\table\\Background.jpg"
Table RCDATA "resources\\table\\Table.png"
DealerButton RCDATA "resources\\dealer_button\\DealerButton.png"
EmptySeatLeft RCDATA "resources\\seats\\EmptySeatLeft.png"
EmptySeatRight RCDATA "resources\\seats\\EmptySeatRight.png"
SeatDarkLeft RCDATA "resources\\seats\\SeatDarkLeft.png"
SeatDarkRight RCDATA "resources\\seats\\SeatDarkRight.png"
SeatLightLeft RCDATA "resources\\seats\\SeatLightLeft.png"
SeatLightRight RCDATA "resources\\seats\\SeatLightRight.png"
BarmenoBold RCDATA "resources\\fonts\\Barmeno-Bold.ttf"
SintonyBold RCDATA "resources\\fonts\\Sintony-Bold.ttf"
CardBackground RCDATA "resources\\cards\\Background.png"
