CashierNormal RCDATA "resources\\cashier\\Normal.png"
CashierPressed RCDATA "resources\\cashier\\Pressed.png"
RetrievingAvatar RCDATA "resources\\avatar\\RetrievingAvatar.jpg"
DevServerCertificate RCDATA "resources\\ssl_certs\\DevServerCertificate.pem"
OfficialServerCertificate RCDATA "resources\\ssl_certs\\OfficialServerCertificate.pem"
