__history
client/bin
client/design
cpp-protobuf-generator/output
*.local
*.fbpInf
*.identcache
server/dag/handeval/*
server/dag/build/*
server/node_modules/*
server/poker-eval-138.0/*
client/tests/bin
client/tools
client/src/resources/**/*.psd
client/installer/install_chipuppoker.exe
client/installer/files/chipuppoker.exe
*.fbl7
cpp-protobuf-generator/protoc-gen-delphi.exe
cpp-protobuf-generator/main.o
cpp-protobuf-generator/Makefile.win
cpp-protobuf-generator/protoc-gen-delphi
dev-server-key.ppk
message.desc
client/src/client.cfg
server/generate_x509_key_pair_and_cert.sh script
server/key.pem
server/cert.pem
server/config.js
server/.idea