qt-client/x
__history
client/bin
client/design
protocopier/bin
cpp-protobuf-generator/output
*.local
*.fbpInf
*.identcache
*.tvsconfig
*.res
*.dres
*.stat
server/dag/handeval/*
server/dag/build/*
server/node_modules/*
server/poker-eval-138.0/*
client/tests/bin
client/src/resources/**/*.psd
client/installer/install_chipuppoker.exe
client/installer/files/chipuppoker.exe
*.fbl7
cpp-protobuf-generator/main.o
cpp-protobuf-generator/Makefile.win
dev-server-key.ppk
server/generate_x509_key_pair_and_cert.sh script
server/key.pem
server/cert.pem
server/.idea
/node_modules/
server/logs/*
protocopier/bin/Win32/Debug/*
protocopier/bin/Win32/Release/dcu/*
cpp-protobuf-generator/cpp-protobuf-generator/debug
cpp-protobuf-generator/cpp-protobuf-generator/*.sdf
cpp-protobuf-generator/cpp-protobuf-generator/*.suo
cpp-generator/output
generator
*.o
moc_*
cpp-protobuf-generator/cpp-protobuf-generator-vs/debug
cpp-protobuf-generator/cpp-protobuf-generator-vs/*.sdf
cpp-protobuf-generator/cpp-protobuf-generator-vs/*.suo
