CardBackground RCDATA "cards\\Background.png"
CardFrontBackground RCDATA "cards\\CardFrontBackground.png"

CardArtwork2h RCDATA "cards\\artworks\2h.png"
CardArtwork3h RCDATA "cards\\artworks\3h.png"
CardArtwork4h RCDATA "cards\\artworks\4h.png"
CardArtwork5h RCDATA "cards\\artworks\5h.png"
CardArtwork6h RCDATA "cards\\artworks\6h.png"
CardArtwork7h RCDATA "cards\\artworks\7h.png"
CardArtwork8h RCDATA "cards\\artworks\8h.png"
CardArtwork9h RCDATA "cards\\artworks\9h.png"
CardArtworkTh RCDATA "cards\\artworks\Th.png"
CardArtworkJh RCDATA "cards\\artworks\Jh.png"
CardArtworkQh RCDATA "cards\\artworks\Qh.png"
CardArtworkKh RCDATA "cards\\artworks\Kh.png"
CardArtworkAh RCDATA "cards\\artworks\Ah.png"

CardArtwork2d RCDATA "cards\\artworks\2d.png"
CardArtwork3d RCDATA "cards\\artworks\3d.png"
CardArtwork4d RCDATA "cards\\artworks\4d.png"
CardArtwork5d RCDATA "cards\\artworks\5d.png"
CardArtwork6d RCDATA "cards\\artworks\6d.png"
CardArtwork7d RCDATA "cards\\artworks\7d.png"
CardArtwork8d RCDATA "cards\\artworks\8d.png"
CardArtwork9d RCDATA "cards\\artworks\9d.png"
CardArtworkTd RCDATA "cards\\artworks\Td.png"
CardArtworkJd RCDATA "cards\\artworks\Jd.png"
CardArtworkQd RCDATA "cards\\artworks\Qd.png"
CardArtworkKd RCDATA "cards\\artworks\Kd.png"
CardArtworkAd RCDATA "cards\\artworks\Ad.png"

CardArtwork2s RCDATA "cards\\artworks\2s.png"
CardArtwork3s RCDATA "cards\\artworks\3s.png"
CardArtwork4s RCDATA "cards\\artworks\4s.png"
CardArtwork5s RCDATA "cards\\artworks\5s.png"
CardArtwork6s RCDATA "cards\\artworks\6s.png"
CardArtwork7s RCDATA "cards\\artworks\7s.png"
CardArtwork8s RCDATA "cards\\artworks\8s.png"
CardArtwork9s RCDATA "cards\\artworks\9s.png"
CardArtworkTs RCDATA "cards\\artworks\Ts.png"
CardArtworkJs RCDATA "cards\\artworks\Js.png"
CardArtworkQs RCDATA "cards\\artworks\Qs.png"
CardArtworkKs RCDATA "cards\\artworks\Ks.png"
CardArtworkAs RCDATA "cards\\artworks\As.png"

CardArtwork2c RCDATA "cards\\artworks\2c.png"
CardArtwork3c RCDATA "cards\\artworks\3c.png"
CardArtwork4c RCDATA "cards\\artworks\4c.png"
CardArtwork5c RCDATA "cards\\artworks\5c.png"
CardArtwork6c RCDATA "cards\\artworks\6c.png"
CardArtwork7c RCDATA "cards\\artworks\7c.png"
CardArtwork8c RCDATA "cards\\artworks\8c.png"
CardArtwork9c RCDATA "cards\\artworks\9c.png"
CardArtworkTc RCDATA "cards\\artworks\Tc.png"
CardArtworkJc RCDATA "cards\\artworks\Jc.png"
CardArtworkQc RCDATA "cards\\artworks\Qc.png"
CardArtworkKc RCDATA "cards\\artworks\Kc.png"
CardArtworkAc RCDATA "cards\\artworks\Ac.png"
