CardBackground RCDATA "cards\\Background.png"
CardAh RCDATA "cards\Ah.png"
CardAs RCDATA "cards\As.png"
CardAd RCDATA "cards\Ad.png"
CardAc RCDATA "cards\Ac.png"
Card2h RCDATA "cards\2h.png"
Card2s RCDATA "cards\2s.png"
Card2d RCDATA "cards\2d.png"
Card2c RCDATA "cards\2c.png"
Card3h RCDATA "cards\3h.png"
Card3s RCDATA "cards\3s.png"
Card3d RCDATA "cards\3d.png"
Card3c RCDATA "cards\3c.png"
Card4h RCDATA "cards\4h.png"
Card4s RCDATA "cards\4s.png"
Card4d RCDATA "cards\4d.png"
Card4c RCDATA "cards\4c.png"
Card5h RCDATA "cards\5h.png"
Card5s RCDATA "cards\5s.png"
Card5d RCDATA "cards\5d.png"
Card5c RCDATA "cards\5c.png"
Card6h RCDATA "cards\6h.png"
Card6s RCDATA "cards\6s.png"
Card6d RCDATA "cards\6d.png"
Card6c RCDATA "cards\6c.png"
Card7h RCDATA "cards\7h.png"
Card7s RCDATA "cards\7s.png"
Card7d RCDATA "cards\7d.png"
Card7c RCDATA "cards\7c.png"
Card8h RCDATA "cards\8h.png"
Card8s RCDATA "cards\8s.png"
Card8d RCDATA "cards\8d.png"
Card8c RCDATA "cards\8c.png"
Card9h RCDATA "cards\9h.png"
Card9s RCDATA "cards\9s.png"
Card9d RCDATA "cards\9d.png"
Card9c RCDATA "cards\9c.png"
CardTh RCDATA "cards\Th.png"
CardTs RCDATA "cards\Ts.png"
CardTd RCDATA "cards\Td.png"
CardTc RCDATA "cards\Tc.png"
CardJh RCDATA "cards\Jh.png"
CardJs RCDATA "cards\Js.png"
CardJd RCDATA "cards\Jd.png"
CardJc RCDATA "cards\Jc.png"
CardQh RCDATA "cards\Qh.png"
CardQs RCDATA "cards\Qs.png"
CardQd RCDATA "cards\Qd.png"
CardQc RCDATA "cards\Qc.png"
CardKh RCDATA "cards\Kh.png"
CardKs RCDATA "cards\Ks.png"
CardKd RCDATA "cards\Kd.png"
CardKc RCDATA "cards\Kc.png"